@font-face {
    	font-family: 'nicoboldbold';
    	src: url('../fonts/nicobold-regular-webfont.woff') format('woff'),
	 url('../fonts/nicobold-regular-webfont.woff2') format('woff2');
    	font-weight: normal;
	font-style: normal;
}	
@font-face {
    font-family: 'nicoclean-monospaced';
    src: url('../font/nicoclean-monospaced.woff') format('woff'),
    	 url('../fonts/nicoclean-monospaced.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'nicopaint';
    src: url('../fonts/nicopaint-regular.woff') format('woff'),
    	 url('../fonts/nicopaint-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
   	font-family: 'nicopaint', 'Droid Serif', serif;
	color: #cac9c9;
	background-color: #5e638c;
}

::selection {
	color: black;
  	background: transparent;
  	text-shadow: 3px 3px 10px #ff00f2;
}
.wrapper {
	width: 80%;
	margin: -1rem auto;
	background:none;
	animation: fadein 1s;

}

.abg {
	min-width: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}
.abg > video {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 1920px;
}

/* header+nav+links */

h1, h2, h3, h4, h5, h6 {
    	font-family: 'nicoboldbold', 'Droid Serif', serif;
    	font-weight: normal;
}


.leftheader, .rightheader {
	margin: 0 auto;
	text-align: center;
}
.leftheader h1, .rightheader h1 {
	font-size: 4rem;
	color: #e89b5d;
}
.leftheader p, .rightheader p {
	margin-top: -2.5rem;
	font-family: 'nicoclean-monospaced';
}

a {
    color: #DA0090;
    text-decoration: none;
}
nav a{ 
	color: #e89c5c;
	padding: 0 1rem 0 1rem;
}
nav ul {
	justify-content: center;
	display: flex;
	list-style-type: none;
	padding: 0.5rem 0 0.5rem 0;	
	border: 2px solid #552e64;
}
nav a:hover {
    color: #d44958;
}
nav {
	background-color: #2f1837a3;
	margin: 4rem 0rem 0rem 0rem;
}

/* main page content */

.content {
	margin-top: 5rem;
	position: relative;
	display: grid;
	grid-template-columns: minmax(40%, 40%) 20% 40%;
	grid-gap: 0px;
}

.contentleft, .contentright {
	word-wrap: break-word;
  	word-break: break-all;
  	max-width: 100%;
	padding: 0.5rem
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
.linksmiddle {
	text-align: center;
	margin: 20rem 0rem 0rem 0rem;
}


section {
	border: 2px #552e64 solid;
	background-color: #2c1733ab;
	padding: 0.5rem;
}
section a:hover {
	color: black;
}

.exit {
	
}

.exit:hover {
	text-shadow:3px 3px 10px #ff00f2
}

.posted {
    font-size: 0.6rem;
    color: #89A611;
    padding: 0px 0px 0px 10px;
}

section img {
	float: right;
	margin: -96px -40px 0rem 1px;
	border: 2px #552e64 solid;
	
}

article {
	margin: 2rem 0;

}
.contentleft section img {
	float: left;
	margin: -96px 8px 0rem -40px; 
	border: 2px #552e64 solid;

}
.contentleft section h1 {
	margin: 22px 0px 0px 114px;
}


/* footer */

.footer {
	position:relative;
	margin-top: auto;
}

footer {
   	padding: 1rem 0 3rem 0;
    	text-align: center;
    	font-size: 0.8rem;
    	color: #edeffa;
}
footer ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
}
footer li {
    	display: inline-block;
}


article::after {
	content: "";
	display: table;
	clear: both;
}

/* mobile view */

@media all and (max-width: 1080px) {

	.abg video{
		width: 4280px

	}
	.content {
  	margin-top: 5rem;
  	position: relative;
  	display: grid;
	grid-template-columns: minmax(200px, 1fr);
  	grid-gap: 0px;
	}
	.linksmiddle {
 	 text-align: center;
  	margin: 2rem 0rem 0rem 0rem; 
	}
	.leftheader h1, .rightheader h1 {
  	font-size: 8rem;
  	color: #e89b5d;
	}
}
