@font-face {
    	font-family: 'nicoboldbold';
    	src: url('../fonts/nicobold-regular-webfont.woff') format('woff'),
	 url('../fonts/nicobold-regular-webfont.woff2') format('woff2');
    	font-weight: normal;
	font-style: normal;
}	
@font-face {
    font-family: 'nicoclean-monospaced';
    src: url('../font/nicoclean-monospaced.woff') format('woff'),
    	 url('../fonts/nicoclean-monospaced.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'nicopaint';
    src: url('../fonts/nicopaint-regular.woff') format('woff'),
    	 url('../fonts/nicopaint-regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
   	font-family: 'nicopaint', 'Droid Serif', serif;
	color: #cac9c9;
	background-color: #5e638c;
}

::selection {
	color: black;
  	background: transparent;
  	text-shadow: 3px 3px 10px #ff00f2;
}

.wrapper {
	width: 80%;
	margin: -1rem auto;
	background:none;


}

.abg {
	min-width: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}
.abg > video {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	width: 1920px;
}

/* title+header+nav+links */

h1, h2, h3, h4, h5, h6 {
    	font-family: 'nicoboldbold', 'Droid Serif', serif;
    	font-weight: normal;
  	color: #DA0090;
}

.title h1 {
  	font-size: 2.3rem;
  	margin-top: 2rem;
  	margin-bottom: -4px;
}

.posted, .title a {
    	font-size: 0.6rem;
    	color: #89A611;
	padding: -16px 0px 0px 0px
}



.title img {
	float: right;
	margin: -76px 0 0 0; 
	border: 2px #552e64 solid;
	
}

.title a sup { 
	display:none;
	font-size: 0.5rem;
}
.title a:hover sup { 
	display:contents;
}


a {
    text-decoration: none;
}
nav a{ 
	color: #e89c5c;
	padding: 0 1rem 0 1rem;
}
nav ul {
	justify-content: center;
	display: flex;
	list-style-type: none;
	padding: 0.5rem 0 0.5rem 0;	
	border: 2px solid #552e64;
}
nav a:hover {
    color: #d44958;
}
nav {
	background-color: #2f1837a3;
	margin: 4rem 0rem 0rem 0rem;
}

/* main page content */

.content {
	margin-top: 5rem;
	position: relative;
	word-wrap: normal;	
  	max-width: 100%;
	padding: 0.5rem;
	animation: fadein 1s;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

section {
	border: 2px #552e64 solid;
	background-color: #2c1733ab;
	padding: 0.5rem;

}
article {
	margin: 1rem 8px;

}
.artimg1, .artimg2 {
	float:right;
}
.artimg2 {
	border: 2px #552e64 solid;
}

.exit {
	margin: 3rem auto;
}
.exit a, .exit a:visited {
	color: #DA0090;
}

.exit a:hover {
	text-shadow:3px 3px 10px #ff00f2;
	color: black;
}

/* footer */

.footer {
	position:relative;
	margin-top: auto;
}

footer {
   	padding: 1rem 0 3rem 0;
    	text-align: center;
    	font-size: 0.8rem;
    	color: #edeffa;
}
footer ul {
    	margin: 0;
    	padding: 0;
    	list-style-type: none;
}
footer li {
    	display: inline-block;
}


article::after, img::after {
	content: "";
	display: table;
	clear: both;
}

/* mobile view */

@media all and (max-width: 1080px) {

	.abg video{
		width: 4280px

	}
	.content {
  	margin-top: 5rem;
  	position: relative;
  	display: grid;
	grid-template-columns: minmax(200px, 1fr);
  	grid-gap: 0px;
	}
	.linksmiddle {
 	 text-align: center;
  	margin: 2rem 0rem 0rem 0rem; 
	}
	.leftheader h1, .rightheader h1 {
  	font-size: 8rem;
  	color: #e89b5d;
	}
}
