@font-face { font-family: NicoBold-Regular; src: url('../fonts/NicoBold-Regular.ttf') }
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
   	font-family: 'Droid Serif', serif;
}


.wrapper {
	width: 80%;
	margin: -1rem auto;
	background:none;

}

.content {
	position:relative;
	animation: fadein 1s;
}
@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
.content input {
	position: absolute;
	background-color: transparent;
	color: transparent;
	border: transparent;
	margin: -75px 0rem 0rem -230px;
	cursor:help;
}
.abg {
	min-width: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	overflow: hidden;
}
.abg > video {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 1920px;
}

header {
	display: flex;
	justify-content: center;
	margin: 18rem 0rem -8rem 0rem;
} 
h1, h2, h3, h4, h5, h6 {
    	font-family: 'NicoBold-Regular', 'Droid Serif', serif;
    	font-weight: normal;
}


.rightheader {
	margin: 0 auto;
	text-align: center;
}
.rightheader h1 {
	font-size: 5rem;
	color: #000;
	text-shadow: 0px 0px 33px black;
	text-align: center;
}
.rightheader p {
	margin-top: -2.5rem;
}

/* nav+header+links */

a {
    color: #DA0090;
    text-decoration: none;
}
nav a{ 
	color: black;
	padding: 0 1rem 0 1rem;
}
nav ul {
	justify-content: center;
	display: flex;
	list-style-type: none;
	padding: 0.5rem 0 0.5rem 0;	
	border-bottom: 2px solid #e1e1e15e;
	border-top: 2px solid #ffffff73;
}
nav a:hover {
    color: #DA0090;
}
nav {
	background-color: #b0d2dd8f;
	margin: 28rem 0rem 0rem 0rem;
	text-shadow: 0px 4px 22px black;
}

/* main page content */

section {
	border: 2px #2e2331 solid;
	background-color: #2c1733ab;
}
section a:hover {
	color: black;
}

.posted {
    font-size: 0.8rem;
    color: #89A611;
}

article img {
	float: left;
	border-radius: 2rem;
	margin: 0 1rem 1rem 0;
}

article {
	margin: 2rem 0;
}

/* footer */

footer {
    padding: 1rem 0 3rem 0;
    text-align: center;
    font-size: 0.8rem;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
}


article::after {
	content: "";
	display: table;
	clear: both;
}


